/* PHASE 6: Sidebar */

.profile-picture {
    display: block;
    margin-top: -150px;
    position: relative;
    border-radius: 5px;
    border: 1px solid black;
} 

.profile-info h2 {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}

.profile-nav * {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding-bottom: 7px;
    padding-top: 7px;
    font-weight: bold;
}

.profile-nav :first-child {
    border-top: 1px solid hsl(0, 0%, 90%);
    margin-top: 20px;
}

.profile-nav :last-child {
    margin-bottom: 50px;
}