/* PHASE 7: Online */

.online {
    background-color: hsl(120deg 100% 40%);
    color: white;
    box-shadow: 0 1px 0 0 #070;
    padding: 5px 30px 5px 30px;
    position: absolute;
    transform: rotate(-45deg);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    top: 25px;
    left: -30px
}

.profile-picture {
    overflow: hidden;
}

